@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Open Sans", "Chakra Petch", sans-serif;
  background-color: #070101;
  color: white;
}
a {
  text-decoration: none;
}
/* ===============HEADER============== */
header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid#E30413;
}
header > div {
  display: flex;
  gap: 20px;
}
header > div p {
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "Chakra Petch";
}

header img {
  width: 100px;
}

input {
  border: none;
  outline: none;
}

/* ===============SEARCH============== */

.search {
  margin: 42px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input {
  color: #070101;
  font-family: "Chakra Petch";
  font-weight: bold;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0 15px;
  height: 30px;
  width: 350px;
  border-radius: 10px;
}

/* ===============HEADER============== */
